body {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas:
        "footer"
        "header"
        "main"
        "nav";
    background-image: url(1177739.jpg);
}

header {
    height: 50vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

main {
    height: 40vh;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

nav {
    height: 10vh;
    animation: move 10s infinite ease-in;
}

header img {
    width: 15em;
    height: 15em;
    border-radius: 100%;
    box-shadow: 5px 10px;
    display: center;
}

nav ul {
    justify-items: center;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 100%;
    grid-template-areas: "nav nav nav";


}

nav li {
    color: white;
}

@keyframes move {
    0% {
        background-color: rgba(0, 255, 21, 0.096);

    }

    25% {
        background-color: rgba(255, 255, 0, 0.103);
    }

    50% {
        background-color: rgba(253, 80, 0, 0.164);
    }

    75% {
        background-color: rgba(255, 1, 1, 0.096);
    }

    100% {
        background-color: rgb(0, 255, 21, 0.096);
    }
}

.heading1 {
    font-size: 50px;
    color: white;
}

.heading2 {
    font-size: 25px;
}

.navhome {
    font-size: 20px;
    list-style: none;
}
.on, .off{
    display: none;
}